$corTranparente: transparent;
$corAtiva: #535353;
$corCinzaDark: #353434;
$corBrancaDark: #eee;
$corBlack: #000;
$displayF: flex;
$semBorda: none;

/*Resposividade*/

$mobile: 767px;
$tablet: 1023px;
