.img-fundo{
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(359.1deg, #000000 50%, rgba(0, 0, 0, 0) 100%), linear-gradient(178.46deg, #000000 3%, rgba(0, 0, 0, 0.473958) 50%, rgba(0, 0, 0, 0) 100%),url(imagens/capa-de-fundo-tanjiro2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
/*Header do site*/

header{
    padding: 16px;
    background-color: transparent;
    width: 100%;
}

header .row{
    align-items: center;
}

.logo{
    height: 60px;
}

.nav-pills .nav-link.active{
    background-color: transparent;
    color: #535353;
}

.nav-pills .nav-link:hover{
    color: #353434;
}

.nav-link{
    color: #eee;
}

/*Form de pesquisa*/
form {
    display: flex;
    width: 100%;
}

.pesquisa{
    padding: 0;
    background-color: #353434;
    height: 98%;
    border-radius: 8px;
}

.form-control{
    border-radius: 8px 0 0 8px;
    height: 100%;
    background-color: #353434;
    border: none;
    color: #eee;
}

.form-control:focus{
    background-color: #353434;
    color: #eee;
    outline: 0;
    border-color: none;
    box-shadow: none;
}

.form-control:active{
    border: none;
}

form button{
    padding: 0;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: transparent;
    height: 100%;
    margin: auto 0;
}

form button i{
    padding: 4px;
    color: #eee;
}
/*Inicio Seção*/

.titulo-desc,
.desc-info{
    color: darkgray;
}

h5{
    font-size: 0.9em;
}

h1,
h2{
    color: #eee;
    font-size: 3em;
}

.desc-info p{
    font-size: 1.2em;
}

.desc-info{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.primeira-secao{
    margin-top: 10%;
    width: 100%;
}

.info-botao{
    display: flex;
    justify-content: flex-start;
    width: 73%;
}

.now,
.now-bk{
    padding: 12px 16px;
    margin-right: 6px;
    border: none;
    border-radius: 8px;
}

.now{
    background-color: goldenrod;
    font-weight: bold;
}

.now-bk{
    background-color: transparent;
    color: #eee;
    font-weight: bold;
}

i{
    font-size: 1.1em;
}
/*Segunda Seção*/

.nota-avaliacao{
    font-size: 3.7em;
    color: #eee;
    text-align: start;
}

.avaliacoes-espaco,
.nota-avaliacao{
    display: flex;
    align-items: end;
    height: 100%;
}

.num-avaliacao{
    color: #eee;
    font-size: 1.3em;
}

.avaliacoes{
    border: none;
    background-color: transparent;
}

.avaliacoes img{
    height: 24px;
}

.carousel-img{
    height: 650px;
}

.tanjiro1,
.nezuko{
    height: 480px;
    margin-top: 120px;
}

.tanjiro2{
    height: 600px;
}

.carousel-indicators{
    justify-content: end;
    margin-right: 0;
}

.carousel-item.active{
    display: flex;
    justify-content: center;
    width: 50%;
}

/*Footer*/

footer{
    padding: 16px;
    background-color: #eee;
}

footer p{
    text-align: center;
    color: #000;
    font-size: 1.3em;
}